extends layout

block content
  h1= title
  form(action="/logout", method="POST")
    button.btn.btn-primary(type="submit") LogOut

  table.table
    tr
      td id
      td= id
    tr
      td username
      td= username
    tr
      td email
      td= email

  select
    each channel in channels
      option(value=channel.id) #{channel.name}
